.TodoCounter {
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 48px;
    font-family: Monserrat;
    font-weight: 400;
    color: #1E1E1F;
}

.TodoCounter span {
    font-weight: bold;
}